.sidenavbar .navbar-nav .nav-link.active {
    color: #FEA700 !important;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 110.41%);
    /* background: url(../Images/active-inve.png); */
}

.sidenavbar .navbar-nav .dropdown-menu {
    position: static !important;
}

.sidenavbar {
    width: 200px;
    height: 100vh;
    align-items: baseline;
    background-color: #252525 !important;
}

.sidenavbar .navbar-nav {
    width: 100% !important;
}

.sidenavbar .navbar-collapse {
    text-align: center;
}

.sidenavbar .navbar-nav .dropdown-menu {
    text-align: center;
}

.logo {
    width: 100%;
    padding: 25px;
}

.sidenavbar .navbar-nav .nav-link {
    color: #FFFFFF !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 10px !important;
    padding: 10px 25px !important;
}