.inventory_main {
    padding: 50px 0 80px;
}

.inventory_parts {
    display: flex;
}

.inventory_parts button {
    padding: 10px 20px;
    background: #F5F5F5;
    border: 1px solid #000000;
}

.inventory_parts button h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.inventory_parts button h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.inventory_parts button h4 span {
    display: inline-block;
}

.inventory_parts button:last-child {
    margin-left: 30px;
}

.filter_part {
    padding: 30px 0;
}

.filter_stock {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.stockfile_down {
    display: flex;
    gap: 30px;
}

.stockfile_down select {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding: 7px 40px 7px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
    outline: none;
    appearance: none;
    background: url(../Images/down-arrow.png) no-repeat;
    background-position: right 10px center;
}

.stockfile_down .bulckstock_btn {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
    padding: 7px;
    text-align: center;
    width: 150px;
    height: 40px;
    outline: none;
    background: #FEA700;
    border-radius: 5px;
    outline: none;
    border: none;
}

.filter_manage {
    display: flex;
}

.filter_manage a {
    width: 80px;
    height: 40px;
    padding: 7px;
    text-align: center;
}

.filter_manage a.filter_show {
    background: #F0F2F1;
}

.filter_manage a.filter_menu {
    background: #FEA700;
}

.inventory_stock {
    border-collapse: collapse;
    width: 100%;
}

.inventory_stock thead th {
    padding: 20px;
    text-align: center;
}

.inventory_stock .inventory_item {
    display: flex;
    padding: 15px;
    gap: 30px;
    align-items: center;
}

.inventory_stock .inventory_item img {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.inventory_item_info h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.inventory_item_info h4,
.inventory_item_info h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
}