/* hero-section */
.hero_section {
    padding: 10px 0;
    background: #FFF7E7;
}

.hero_inn {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.hero_cnt {
    width: 100%;
    max-width: 670px;
}

.hero_cnt h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    color: #111111;
    margin-bottom: 20px;
}

.hero_cnt p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 32px;
}

.hero_cnt h1 span {
    color: #FEA700;
}

.hero_img {
    width: 100%;
    max-width: 570px;
}

.hero_img img {
    width: 100%;
}

.hero_cnt form {
    display: flex;
    position: relative;
}

.hero_cnt form input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 0px 0px 5px;
    padding: 11px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    width: 300px;
    height: 44px;
    outline: none;
}

.hero_cnt form button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    width: 105px;
    height: 44px;
    background: #FEA700;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

.hero_cnt form .error {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FF0000;
    position: absolute;
    bottom: -25px;
    left: 0;
}

/* hero-section */
/* achievment_section */
.achievment_section {
    padding: 100px 0;
}

.achievment_inn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.achievment_cnt {
    width: 100%;
    max-width: 300px;
    padding: 25px;
    background: #F6F7F9;
    border-radius: 10px;
}

.achievment_cnt h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FEA700;
    margin-bottom: 15px;
}

.achievment_cnt h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* achievment_section */
/* process-section */
.process_section h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #111111;
    margin-bottom: 40px;
}

.process_inn {
    display: flex;
    justify-content: center;
    gap: 23px;
}

.process_cnt {
    width: 100%;
    max-width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.process_info {
    height: 100%;
}

/* process-section */

@media screen and (max-width: 1300px) {

    /* hero-section */
    .hero_cnt h1 {
        font-size: 33px;
        line-height: 46px;
    }

    /* hero-section */
}

@media screen and (max-width: 1199px) {

    /* hero-section */
    .hero_cnt h1 {
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .hero_cnt p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    /* hero-section */
    /* achievment_section */
    .achievment_cnt h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .achievment_cnt h4 {
        font-size: 18px;
        line-height: 26px;
    }

    /* achievment_section */
}

@media screen and (max-width: 991px) {

    /* hero-section */
    .hero_section {
        padding: 20px 0 40px;
    }

    .hero_inn {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .hero_img {
        max-width: 470px;
    }

    .hero_cnt {
        text-align: center;
    }

    .hero_cnt form {
        justify-content: center;
    }

    /* hero-section */
    /* achievment_section */
    .achievment_inn {
        flex-flow: row wrap;
    }

    .achievment_cnt {
        max-width: 250px;
        padding: 20px;
    }

    .achievment_cnt h2 {
        font-size: 23px;
        line-height: 29px;
    }

    .achievment_cnt h4 {
        font-size: 17px;
        line-height: 25px;
    }

    /* achievment_section */
}

@media screen and (max-width: 767px) {

    /* hero-section */
    .hero_img {
        max-width: 420px;
    }

    .hero_cnt h1 {
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .hero_cnt p {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .hero_cnt form input {
        padding: 10px 12px;
        font-size: 13px;
        line-height: 20px;
        width: 220px;
        height: 42px;
    }

    .hero_cnt form button {
        font-size: 12px;
        line-height: 18px;
        padding: 11px;
        width: 93px;
        height: 42px;
    }

    /* hero-section */
    /* achievment_section */
    .achievment_section {
        padding: 65px 0;
    }

    .achievment_cnt {
        max-width: 212px;
        padding: 15px;
    }

    .achievment_cnt h2 {
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 12px;
    }

    .achievment_cnt h4 {
        font-size: 15px;
        line-height: 21px;
    }

    /* achievment_section */
}