/* hero-section */
.hero_section {
    padding: 10px 0;
    background: #FFF7E7;
}

.hero_inn {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.hero_cnt {
    width: 100%;
    max-width: 670px;
}

.hero_cnt h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    color: #111111;
    margin-bottom: 20px;
}

.hero_cnt p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 32px;
}

.hero_cnt h1 span {
    color: #FEA700;
}

.hero_img {
    width: 100%;
    max-width: 570px;
}

.hero_img img {
    width: 100%;
}

.hero_cnt form {
    display: flex;
    position: relative;
}

.hero_cnt form input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 0px 0px 5px;
    padding: 11px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    width: 300px;
    height: 44px;
    outline: none;
}

.hero_cnt form button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    width: 105px;
    height: 44px;
    background: #FEA700;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

.hero_cnt form .error {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FF0000;
    position: absolute;
    bottom: -25px;
    left: 0;
}

/* hero-section */
/* achievment_section */
.achievment_section {
    padding: 100px 0;
}

.achievment_inn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.achievment_cnt {
    width: 100%;
    max-width: 300px;
    padding: 25px;
    background: #F6F7F9;
    border-radius: 10px;
}

.achievment_cnt h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FEA700;
    margin-bottom: 15px;
}

.achievment_cnt h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* achievment_section */
/* process-section */
.process_section {
    padding-bottom: 150px;
}

.process_section h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #111111;
    margin-bottom: 40px;
}

.process_inn {
    display: flex;
    justify-content: center;
    gap: 23px;
}

.process_cnt {
    width: 100%;
    max-width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.process_cnt .process_img {
    width: 50px;
    margin-bottom: 35px;
}

.process_cnt h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #232F3E;
    margin-bottom: 18px;
}

.process_cnt p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #6C7778;
    margin-bottom: 32px;
}

.process_cnt a {
    background: #FEA700;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    padding: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}

.process_cnt a img {
    width: 18px;
    margin-left: 5px;
}

/* process-section */
/* reward-section */
.reward_sec {
    background: rgba(231, 238, 255, 0.4);
    padding: 20px 0;
}

.reward_inn {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.reward_cnt {
    width: 100%;
    max-width: 400px;
}

.reward_cnt h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.reward_info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 640px;
}

.reward_info_cnt {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reward_info_fir {
    margin-top: -60px;
}

.reward_info_sec {
    margin-bottom: -80px;
}

.reward_info_box {
    padding: 32px 25px;
    background: #FFFFFF;
    border: 1px solid #F0EFFC;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.reward_info_box img {
    margin-bottom: 15px;
}

.reward_info_box h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 15px;
}

.reward_info_box p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3B3B3B;
}

/* reward-section */
/* learning_hub */
.learning_hub {
    padding: 50px 0;
    margin: 150px 0;
    background: #F6F7F9;
}

.learning_hub .container-fluid {
    max-width: 1030px;
}

.learning_inn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.learning_cnt {
    width: 100%;
    max-width: 377px;
}

.learning_cnt img {
    margin-bottom: 30px;
}

.learning_cnt h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.learning_inn a.learning_hub_btn {
    border: 1px solid #FEA700;
    border-radius: 5px;
    width: 260px;
    height: 64px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FEA700;
    text-align: center;
}

.learning_inn a.learning_hub_btn img {
    margin-right: 10px;
    width: 42px;
}

/* learning_hub */
/* growth-section */
.growth_sec {
    background: #FFF2D8;
}

.growth_sec h2 {
    font-size: 34px;
    line-height: 46px;
}

.growth_sec .reward_info_cnt {
    max-width: 270px;
}

/* growth-section */
/* category-section */
.category_sec {
    padding: 100px 0;
}

.category_sec h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: #111111;
    margin-bottom: 35px;
    text-align: center;
}

.category_inn {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 25px;
}

.category_inn p {
    width: 100%;
    max-width: 220px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.category_sec .viewmore_part {
    width: 100%;
    text-align: center;
}

.category_sec .viewmore_btn {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    background: transparent;
    border: 1px solid #000000;
    margin-top: 35px;
    padding: 6px 15px;
}

/* category-section */

@media screen and (max-width: 1300px) {

    /* hero-section */
    .hero_cnt h1 {
        font-size: 33px;
        line-height: 46px;
    }

    /* hero-section */
}

@media screen and (max-width: 1199px) {

    /* hero-section */
    .hero_cnt h1 {
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .hero_cnt p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    /* hero-section */
    /* achievment_section */
    .achievment_cnt h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .achievment_cnt h4 {
        font-size: 18px;
        line-height: 26px;
    }

    /* achievment_section */
    /* process-section */
    .process_section h2 {
        font-size: 27px;
        line-height: 33px;
    }

    .process_cnt {
        max-width: 270px;
        padding: 25px 15px;
    }

    .process_cnt h3 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    .process_cnt p {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 28px;
    }

    .process_cnt a {
        width: 160px;
        font-size: 15px;
        line-height: 29px;
    }

    .process_cnt .process_img {
        width: 38px;
        margin-bottom: 28px;
    }

    .process_inn {
        flex-flow: row wrap;
    }

    /* process-section */
}

@media screen and (max-width: 991px) {

    /* hero-section */
    .hero_section {
        padding: 20px 0 40px;
    }

    .hero_inn {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .hero_img {
        max-width: 470px;
    }

    .hero_cnt {
        text-align: center;
    }

    .hero_cnt form {
        justify-content: center;
    }

    /* hero-section */
    /* achievment_section */
    .achievment_inn {
        flex-flow: row wrap;
    }

    .achievment_cnt {
        max-width: 250px;
        padding: 20px;
    }

    .achievment_cnt h2 {
        font-size: 23px;
        line-height: 29px;
    }

    .achievment_cnt h4 {
        font-size: 17px;
        line-height: 25px;
    }

    /* achievment_section */
    /* process-section */
    .process_section {
        padding-bottom: 80px;
    }

    /* process-section */
    /* reward-section */
    .reward_sec {
        padding: 50px 0;
    }

    .reward_inn {
        flex-direction: column;
        gap: 40px;
    }

    .reward_cnt h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .reward_cnt {
        max-width: 320px;
        text-align: center;
    }

    .reward_info_cnt {
        margin: 0 !important;
    }

    /* reward-section */
    /* learning_hub */
    .learning_hub {
        padding: 40px 0;
        margin: 80px 0;
    }

    .learning_hub .container-fluid {
        max-width: 700px;
    }

    .learning_cnt img {
        margin-bottom: 25px;
        width: 160px;
    }

    .learning_cnt h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .learning_cnt {
        max-width: 300px;
    }

    .learning_inn a.learning_hub_btn {
        width: 220px;
        height: 56px;
        padding: 9px;
        font-size: 16px;
        line-height: 18px;
    }

    .learning_inn a.learning_hub_btn img {
        margin-right: 8px;
        width: 37px;
    }

    /* learning_hub */
}

@media screen and (max-width: 767px) {

    /* hero-section */
    .hero_img {
        max-width: 420px;
    }

    .hero_cnt h1 {
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .hero_cnt p {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .hero_cnt form input {
        padding: 10px 12px;
        font-size: 13px;
        line-height: 20px;
        width: 220px;
        height: 42px;
    }

    .hero_cnt form button {
        font-size: 12px;
        line-height: 18px;
        padding: 11px;
        width: 93px;
        height: 42px;
    }

    /* hero-section */
    /* achievment_section */
    .achievment_section {
        padding: 65px 0;
    }

    .achievment_cnt {
        max-width: 212px;
        padding: 15px;
    }

    .achievment_cnt h2 {
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 12px;
    }

    .achievment_cnt h4 {
        font-size: 15px;
        line-height: 21px;
    }

    /* achievment_section */
    /* reward-section */
    .reward_cnt h2 {
        font-size: 19px;
        line-height: 29px;
    }

    .reward_cnt {
        max-width: 280px;
    }

    .reward_info_cnt {
        max-width: 240px;
        gap: 20px;
    }

    .reward_info {
        max-width: 530px;
        flex-flow: row wrap;
        justify-content: center;
    }

    .reward_info_box {
        padding: 25px 18px;
    }

    .reward_info_box img {
        margin-bottom: 12px;
        width: 33px;
    }

    .reward_info_box h3 {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .reward_info_box p {
        font-size: 13px;
        line-height: 21px;
    }

    /* reward-section */
    /* learning_hub */
    .learning_cnt img {
        margin-bottom: 20px;
        width: 130px;
    }

    .learning_cnt h2 {
        font-size: 17px;
        line-height: 25px;
    }

    .learning_cnt {
        max-width: 230px;
    }

    .learning_inn a.learning_hub_btn {
        width: 180px;
        height: 50px;
        padding: 10px;
        font-size: 14px;
        line-height: 16px;
    }

    .learning_inn a.learning_hub_btn img {
        margin-right: 5px;
        width: 30px;
    }

    .learning_hub .container-fluid {
        max-width: 580px;
    }

    /* learning_hub */
}

@media screen and (max-width: 500px) {

    /* learning_hub */
    .learning_hub {
        padding: 33px 0;
        margin: 60px 0;
    }

    .learning_inn {
        flex-direction: column;
        gap: 37px;
    }

    .learning_cnt {
        text-align: center;
    }

    /* learning_hub */
}