.otp_part {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 50px;
    width: 100%;
    max-width: 700px;
    margin: 100px auto;
}

.otp_part h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 30px;
}

.otp_part p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 30px;
}

.otp_part p a {
    color: #1C6DC1;
    font-weight: 500;
    display: inline-block;
}

.resend_ot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.resend_ot h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #010101;
}

.resend_ot a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #1E30D9;
}

.otp_part input {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100%;
    height: 54px;
    padding: 15px;
    outline: none;
    margin-bottom: 30px;
}

.otp_part .register-Btn {
    background: #FEA700;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    padding: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #272220;
    border: none;
    outline: none;
    margin-bottom: 40px;
}

.otp_part h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.otp_part h4 a {
    display: inline-block;
}